body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #E50914;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.search-bar button {
    padding: 10px;
    border: none;
    background-color: #E50914;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
    padding: 20px;
}

.movie-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-item {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.movie-item img {
    width: 200px;
    height: 325px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.movie-item img:hover {
    transform: scale(1.05);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

video {
    width: 80%;
    border-radius: 10px;
}

.titulo{
    color: rgb(255, 255, 255);
    text-decoration: none;
}